# When making changes to this file update environment.yml also !!

gracefulkiller
matplotlib
mausy5043-common
numpy
pandas>=2.2.2
pyarrow>=17.0.0
pyserial==3.5
python-dateutil
pytz
requests
sh
tabulate
