# When making changes to this file update environment.yml also !!

gracefulkiller==0.4.7
matplotlib
mausy5043-common
numpy==2.1.0
pandas>=2.2.2
pyarrow>=17.0.0
pyserial==3.5
python-dateutil
pytz
requests
sh
tabulate
