# for pip

# pip can't install the dependencies from pyproject.toml
# when changing this file also consider `pyproject.toml` and `environment.yml`

gracefulkiller~=0.4
matplotlib~=3.10
mausy5043-common>=2.2.7
# already delivered by mausy5043-common, so no need to specify version here:
numpy
pandas
py-solaredge==0.0.4.9
python-dateutil~=2.9
pytz~=2025.2
requests~=2.32
sessypy==0.1.13
sh~=2.2
tabulate~=0.9
zeroconf==0.146.3
