# This timer is for triggering updates of the repository clone

[Unit]
Description=daily lektrix update
# Do not use this to also trigger at boot and timer.start. Beware this will cause an end-less loop of updates!
# Requires=lektrix.update.service

[Timer]
OnCalendar=*-*-* 04:00
RandomizedDelaySec=3m

[Install]
WantedBy=timers.target
