# This service is for trending data from the past days

[Unit]
Description=trending electricity data from past days (service)
Wants=lektrix.trend.day.timer

[Service]
Type=oneshot
User=pi
EnvironmentFile=/home/pi/.pyenvpaths
ExecStart=/home/pi/lektrix/bin/pastday.sh -

# [Install]
# WantedBy=multi-user.target
