# This service is for trending data from the past month(s)

[Unit]
Description=trending electricity data from past month (service)
Wants=lektrix.trend.month.timer

[Service]
Type=oneshot
User=pi
EnvironmentFile=/home/pi/.pyenvpaths
WorkingDirectory=/home/pi/lektrix
ExecStart=/home/pi/lektrix/bin/pastmonth.sh -

# [Install]
# WantedBy=multi-user.target
