# This service is for trending data from the past year(s)

[Unit]
Description=trending electricity data from past year (service)
Wants=lektrix.trend.year.timer

[Service]
Type=oneshot
User=pi
EnvironmentFile=/home/pi/.pyenvpaths
WorkingDirectory=/home/pi/lektrix
ExecStart=/home/pi/lektrix/bin/pastyear.sh -

# [Install]
# WantedBy=multi-user.target
