# This timer is for triggering the daily collection of hourly electricity prices

[Unit]
Description=collecting electricity prices (timer)

[Timer]
OnCalendar=*-*-* 13,14,15,16,18,23:03
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
