# This service is for starting the kamstrup telemetry reader

[Unit]
Description=smart electricity meter (KAMSTRUP) telemetry service
After=multi-user.target

[Service]
Type=simple
User=pi
EnvironmentFile=/home/pi/.pyenvpaths
ExecStartPre=/home/pi/lektrix/lektrix --boot
ExecStart=/home/pi/lektrix/bin/kamstrup.py --start
RestartSec=360s
Restart=on-failure

[Install]
WantedBy=multi-user.target
